%background-grey {
    background-color: #F6F6F6;
}
%background-grey-location {
    background-color: #EAEAEA;
}
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%box-shadow {
    box-shadow: 0px 0px 8px 3px rgb(228, 225, 225)
}
