@import "Utils/variables";
@import "Utils/mixins";
@import "Base/Base.scss";
@import "Components/Button";
@import "Layouts/header.scss";
@import "Layouts/footer.scss";

.header__menu__position {
    @include flex-position (row, space-evenly, center);
    padding-right: 50px;
    
    .arrow-icon {
        font-size: 1.2em;
        color: black;
        border-radius: 50%;
        
        & :hover {
        color: var(--primary-color);
        border-radius: 50%;
        padding: 9px 12px 9px 12px;
        @include box-shadow (0px, 4px, 8px, 4px, rgb(235, 231, 231));
        }
    }
    
}

.menu__img__size {
    aspect-ratio: 6/5;
        
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}