* {
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    h3 {
        padding: 15px 0px 15px 15px;
        font-size: 1.4em;
    }
}
a {
    text-decoration: none
}