:root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
  --text-new-color: #008766;
  --bg-color-clear: #f8f8f8;
  --bg-color-dark: #353535;
}

.fade-in-1 {
  opacity: 0;
  animation: fade-in 0.7s 0.2s ease-in-out forwards;
}

.fade-in-2 {
  opacity: 0;
  animation: fade-in 0.7s 0.4s ease-in-out forwards;
}

.fade-in-3 {
  opacity: 0;
  animation: fade-in 0.7s 0.6s ease-in-out forwards;
}

.fade-in-4 {
  opacity: 0;
  animation: fade-in 0.7s 0.8s ease-in-out forwards;
}

.fade-in-5 {
  opacity: 0;
  animation: fade-in 0.7s 1s ease-in-out forwards;
}

.fade-in-6 {
  opacity: 0;
  animation: fade-in 0.7s 1.2s ease-in-out forwards;
}

.fade-in-7 {
  opacity: 0;
  animation: fade-in 0.7s 1.4s ease-in-out forwards;
}

.fade-in-8 {
  opacity: 0;
  animation: fade-in 0.7s 1.6s ease-in-out forwards;
}

.fade-in-9 {
  opacity: 0;
  animation: fade-in 0.7s 1.8s ease-in-out forwards;
}

.fade-in-10 {
  opacity: 0;
  animation: fade-in 0.7s 2s ease-in-out forwards;
}

.fade-in-11 {
  opacity: 0;
  animation: fade-in 0.7s 2.2s ease-in-out forwards;
}

.fade-in-12 {
  opacity: 0;
  animation: fade-in 0.7s 2.4s ease-in-out forwards;
}

.fade-in-13 {
  opacity: 0;
  animation: fade-in 0.7s 2.6s ease-in-out forwards;
}

.line-1 {
  width: 8px;
  height: 40px;
  margin: 2px;
  border-radius: 3px;
  background-color: white;
  animation: loader__line__growing 0.6s 0.4s infinite ease-in-out alternate;
}

.line-2 {
  width: 8px;
  height: 40px;
  margin: 2px;
  border-radius: 3px;
  background-color: white;
  animation: loader__line__growing 0.6s 0.2s infinite ease-in-out alternate;
}

.line-3 {
  width: 8px;
  height: 40px;
  margin: 2px;
  border-radius: 3px;
  background-color: white;
  animation: loader__line__growing 0.6s 0s infinite ease-in-out alternate;
}

.line-4 {
  width: 8px;
  height: 40px;
  margin: 2px;
  border-radius: 3px;
  background-color: white;
  animation: loader__line__growing 0.6s 0s infinite ease-in-out alternate;
}

.line-5 {
  width: 8px;
  height: 40px;
  margin: 2px;
  border-radius: 3px;
  background-color: white;
  animation: loader__line__growing 0.6s 0.2s infinite ease-in-out alternate;
}

.line-6 {
  width: 8px;
  height: 40px;
  margin: 2px;
  border-radius: 3px;
  background-color: white;
  animation: loader__line__growing 0.6s 0.4s infinite ease-in-out alternate;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

.cta__btn__position {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta__btn__position .cta__btn {
  color: white;
  font-size: 1em;
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  padding: 18px;
  padding-right: 10%;
  padding-left: 10%;
  border-radius: 40px;
  border: none;
  box-shadow: 0px 4px 7px 1px rgb(180, 180, 180);
  transition: all 0.5s;
}
.cta__btn__position .cta__btn:hover {
  box-shadow: 0px 5px 8px 3px rgb(180, 180, 180);
  background: linear-gradient(175deg, rgb(250, 131, 216) 0%, rgb(172, 110, 248) 100%);
}

footer {
  background-color: var(--bg-color-dark);
  color: white;
  padding: 20px 0px 40px 30px;
}
footer a {
  color: white;
}
footer p {
  font-family: "Shrikhand", cursive;
  font-size: 1.1em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}
.footer__list .footer__list__join-us i {
  padding-right: 10px;
  font-size: 0.9em;
}
.footer__list .footer__list__join-us .handshake-icon-size {
  width: 15px;
  font-size: 0.85em;
}
.footer__list .footer__list__info {
  font-weight: 300;
}

/*****Version Desktop*****/
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 40px 30px 40px 30px;
  }
  footer p {
    padding: 0;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 3%;
  }
  .footer__list a {
    white-space: nowrap;
    font-size: 0.9em;
  }
  .footer__list .responsive__padding-right {
    padding-right: 20px;
  }
  .footer__list i {
    padding-right: 5px;
  }
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.header__logo img {
  height: 33px;
  width: 180px;
}

.header__menu__position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__menu__position .arrow-icon {
  position: absolute;
  font-size: 1.2em;
  color: black;
  border-radius: 50%;
  padding: 7px 12px 7px 12px;
  margin-left: 13px;
  left: 5px;
  border: transparent;
  transition: box-shadow 0.2s, color 0.2s 0.1s ease-out;
}
.header__menu__position .arrow-icon:hover {
  color: var(--primary-color);
  border: 2px solid transparent;
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 4px 8px 4px rgb(235, 231, 231);
}

.img__size {
  aspect-ratio: 5/3;
}
.img__size img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background {
  background-color: var(--bg-color-clear);
  border-radius: 45px 45px 0 0;
  padding-top: 40px;
  margin-top: -44px;
  position: relative;
}
.background h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 1.35em;
  padding-left: 20px;
}
.background h2 {
  font-size: 0.9em;
  font-weight: 300;
  margin-left: 15px;
  padding-bottom: 5px;
  padding-top: 30px;
  border-bottom: 3px solid var(--tertiary-color);
  width: 50px;
  margin-top: 25px;
}
.background .Title-and-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.background .Title-and-like .menu__heart-icon__position {
  position: relative;
}
.background .Title-and-like .menu__heart-icon__position .fa-solid {
  position: absolute;
  font-size: 1.5em;
  right: 50%;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(0deg, rgb(255, 121, 218) 10%, rgb(165, 110, 232) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.background .Title-and-like .menu__heart-icon__position .fa-solid:hover {
  opacity: 100%;
  transform: scale(1.08);
}
.background .Title-and-like .menu__heart-icon__position .fa-regular {
  font-size: 1.5em;
  opacity: 100%;
  position: relative;
  right: 50%;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.background .Title-and-like .menu__heart-icon__position .fa-regular:hover {
  opacity: 0;
}

.btn-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu__btn {
  width: 92%;
  overflow: hidden;
  border: none;
  border-radius: 20px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgb(235, 231, 231);
  margin-top: 25px;
  padding: 0;
}
.menu__btn:hover {
  box-shadow: 0px 0px 5px 3px rgb(218, 217, 217);
}
.menu__btn .menu__btn__position {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: start;
}
.menu__btn .menu__btn__position h3 {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.06em;
}
.menu__btn .menu__btn__position p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
  font-size: 1em;
  font-weight: 300;
}
.menu__btn .menu__btn__position:hover > .icon__check {
  margin-right: 0;
}
.menu__btn .menu__btn__position:hover i {
  animation: icon-fade-in-turn 0.5s ease-in-out;
}
.menu__btn .menu__btn__container {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 5px;
}
.menu__btn .menu__btn__container span {
  font-weight: 700;
}
.menu__btn .menu__btn__price-position {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__btn .icon__check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: var(--tertiary-color);
  border-radius: 0px 20px 20px 0px;
  margin-right: -4.5em;
  transition: margin-right 0.5s ease-out;
}
.menu__btn .icon__check i {
  padding: 5px;
  background: white;
  color: var(--tertiary-color);
  border-radius: 50%;
}

.cta__menu__padding {
  margin-top: 35px;
  margin-bottom: 55px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes icon-fade-in-turn {
  0% {
    opacity: 0;
    transform: rotate(240deg);
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
  }
}
/*****Version Desktop*****/
@media screen and (min-width: 769px) {
  .img__size {
    aspect-ratio: 8/2;
  }
  .main__menu__responsive {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -55px;
  }
  .background .Title-and-like {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .background .Title-and-like .fa-solid {
    right: 1;
    bottom: 0;
  }
  .background .Title-and-like .fa-regular {
    right: 0;
    bottom: 0;
  }
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: #EAEAEA;
  gap: 15px;
  padding-right: 15px;
  box-shadow: inset 0px 9px 6px -8px rgb(194, 193, 193);
}
.header__location i {
  color: #353535;
}

.presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 60px;
  gap: 20px;
  background-color: var(--bg-color-clear);
}
.presentation p {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 15px;
}

.h3-position {
  padding: 15px 0px 15px 15px;
  font-size: 1.4em;
}

.fonctionnement {
  padding-top: 40px;
  padding-bottom: 50px;
}
.fonctionnement .fonctionnement__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 35px;
}
.fonctionnement .fonctionnement__btn a {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement .fonctionnement__btn p {
  color: black;
}

.fonctionnement__btn__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: 25px;
  padding: 30px;
  background-color: var(--bg-color-clear);
  box-shadow: 0px 4px 3px 2px rgb(235, 231, 231);
  width: 90%;
  font-size: 0.88em;
  font-weight: 600;
  position: relative;
  transition: all 0.4s ease-in-out;
  white-space: nowrap;
}
.fonctionnement__btn__container:hover {
  box-shadow: 0px 4px 5px 3px rgb(218, 217, 217);
  background-color: #F5EDFF;
}
.fonctionnement__btn__container:hover i {
  color: var(--primary-color);
}
.fonctionnement__btn__container .fonctionnement__btn__number {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  left: -14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  font-weight: 400;
  font-size: 0.9em;
}
.fonctionnement__btn__container i {
  color: #7E7E7E;
  font-size: 1.4em;
  padding-right: 20px;
  padding-left: 5px;
}

.restaurants {
  background-color: var(--bg-color-clear);
  padding-top: 50px;
  padding-bottom: 70px;
}
.restaurants .restaurants__position {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 15px;
}
.restaurants .restaurants__card__responsive-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.restaurants__card {
  box-shadow: 0px 0px 6px 4px rgb(235, 231, 231);
  width: 90%;
  border-radius: 15px;
  position: relative;
  transition: box-shadow 0.4s ease-in-out;
}
.restaurants__card:hover {
  box-shadow: 0px 0px 8px 6px rgb(218, 217, 217);
}
.restaurants__card img {
  width: 100%;
  aspect-ratio: 6/3;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants__card h4 {
  font-size: 1.1em;
  padding-bottom: 5px;
}
.restaurants__card p {
  font-weight: 300;
}
.restaurants__card .restaurants__card__new {
  font-size: 1em;
  font-weight: 500;
  color: var(--text-new-color);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 7px 13px 7px 13px;
  background-color: var(--tertiary-color);
  position: absolute;
  right: 15px;
  top: 15px;
}
.restaurants__card .restaurants__card__container {
  color: black;
  padding: 15px;
  position: relative;
}

.restaurants__card__container__icon .fa-solid {
  position: absolute;
  font-size: 1.5em;
  right: 25px;
  bottom: 30px;
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(0deg, rgb(255, 121, 218) 10%, rgb(165, 110, 232) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.restaurants__card__container__icon .fa-solid:hover {
  opacity: 100%;
  transform: scale(1.08);
}
.restaurants__card__container__icon .fa-regular {
  font-size: 1.5em;
  opacity: 100%;
  position: absolute;
  right: 25px;
  bottom: 30px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.restaurants__card__container__icon .fa-regular:hover {
  opacity: 0;
}

.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(25deg, rgb(255, 121, 218) 0%, rgb(165, 110, 232) 100%);
  animation: loader-fade-out 1s 3s forwards;
}
.loader-container .loader {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container .loader__logo {
  font-size: 40px;
  font-family: "Shrikhand", cursive;
  padding: 5px;
}

@keyframes loader__line__growing {
  0% {
    opacity: 0;
    transform: scaleY(0.5);
  }
  100% {
    opacity: 100%;
    transform: scaleY(1);
  }
}
@keyframes loader-fade-out {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 0%;
  }
  100% {
    visibility: hidden;
  }
}
@media screen and (min-width: 769px) {
  .cta__btn__position .cta__btn__index {
    padding-right: 3%;
    padding-left: 3%;
  }
  .fonctionnement .fonctionnement__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .fonctionnement .fonctionnement__btn a {
    width: 28%;
  }
  .fonctionnement__btn__container {
    white-space: normal;
  }
  .restaurants .restaurants__position {
    gap: 50px;
  }
  .restaurants .restaurants__card__responsive-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }
  .restaurants .restaurants__card {
    width: 41%;
  }
  .restaurants .restaurants__card img {
    aspect-ratio: 8/3;
  }
  .h3-position {
    padding-left: 6%;
  }
}

/*# sourceMappingURL=style.css.map */
