.header__menu__position {
    @include flex-position (row, center, center);
    position: relative;
    
    .arrow-icon {
        position: absolute;
        font-size: 1.2em;
        color: black;
        border-radius: 50%;
        padding: 7px 12px 7px 12px;
        margin-left: 13px;
        left: 5px;
        border: transparent;
        transition: box-shadow 0.2s, color 0.2s 0.1s ease-out;

        &:hover {
        color: var(--primary-color);
        border: 2px solid transparent;
        padding: 5px 10px 5px 10px;
        box-shadow: 0px 4px 8px 4px rgb(235, 231, 231);
        }
    }
}
.img__size {
    aspect-ratio: 5/3;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.background {
    background-color: var(--bg-color-clear);
    border-radius: 45px 45px 0 0 ;
    padding-top: 40px;
    margin-top: -44px;
    position: relative;

    h1 {
        font-family:'Shrikhand', cursive;
        font-weight: 500;
        font-size: 1.35em;
        padding-left: 20px;
    }

    h2 {
        font-size: 0.9em;
        font-weight: 300;
        margin-left: 15px;
        padding-bottom: 5px; 
        padding-top: 30px;
        border-bottom: 3px solid var(--tertiary-color);
        width: 50px;
        margin-top: 25px;
        
    } 
    .Title-and-like {
        @include flex-position (row, space-between, center);
        
        .menu__heart-icon__position {
            position: relative;

            .fa-solid {
                @include fa-solid (absolute, 50%, null);
            }

            .fa-regular {
                @include fa-regular (relative, 50%, null);
            }
        }
    }

        
}
.btn-position {
    @include flex-position (column, null, center);            
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu__btn {
    width: 92%;
    overflow: hidden;
    border: none;
    border-radius: 20px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgb(235, 231, 231);
    margin-top: 25px;
    padding: 0;

    &:hover {
        box-shadow: 0px 0px 5px 3px rgb(218, 217, 217)
    }

    .menu__btn__position {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: start ;

        h3 {
            width: 85%;
            @include text-ellipsis;
            font-size: 1.06em;
        }

        p {

            @include text-ellipsis;
            width: 85%;
            font-size: 1em;
            font-weight: 300;
        }
        
        &:hover > .icon__check {
            margin-right: 0;
           
        }

        &:hover i {
             animation: icon-fade-in-turn 0.5s ease-in-out;
        }
    }

    .menu__btn__container {
        padding: 15px;
        width: 100%;
        @include flex-position (column, center, null);
        @include text-ellipsis;
        gap: 5px;

        span {
            font-weight: 700;
        }

    }

    .menu__btn__price-position {
        width: 98%;
        @include flex-position (null, space-between, center);
    }
    
    .icon__check {
        @include flex-position (null, center, center);
        height: 80px;
        width: 80px;
        background-color: var(--tertiary-color);
        border-radius: 0px 20px 20px 0px;
        margin-right: -4.5em;
        transition: margin-right 0.5s ease-out;
    
        i {
            padding: 5px;
            background: white;
            color: var(--tertiary-color);
            border-radius: 50%; 
        }
    }

}  

.cta__menu__padding {
    margin-top: 35px;
    margin-bottom: 55px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

  @keyframes icon-fade-in-turn {
    0% {
        opacity: 0;
        transform: rotate(240deg);
    }
    85% {
        opacity: 1;
    }
    100% {
        
        transform: rotate(0deg);
    }
  }

  /*****Version Desktop*****/

  @media screen and (min-width: 769px) {

    .img__size {
        aspect-ratio: 8/2;
    }

    .main__menu__responsive{
        @include flex-position (null, center, center);
    }

    .background {
        width: 50%;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: -55px;
    }

    .background {

        .Title-and-like {
            @include flex-position (row, center, center);
            gap: 30px;
            position: null;

            .fa-solid {
                right: 1;
                bottom: 0;
            }
            .fa-regular {
                right: 0;
                bottom: 0;
            }
        }
    }
}