.header__menu__position {
    @include flex-position (row, center, center);
    position: relative;
    
    .arrow-icon {
        position: absolute;
        font-size: 1.2em;
        color: black;
        border-radius: 50%;
        padding: 7px 12px 7px 12px;
        margin-left: 13px;
        left: 5px;

         &:hover {
        color: var(--primary-color);
        border-radius: 50%;
        border: 2px solid transparent;
        padding: 5px 10px 5px 10px;
        box-shadow: 0px 4px 8px 4px rgb(235, 231, 231);
        }
    }
}
.img__size {
    aspect-ratio: 5/3;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.background {
    background-color: var(--bg-color-clear);
    border-radius: 45px 45px 0 0 ;
    padding-top: 40px;
    margin-top: -44px;
    position: relative;

    h1 {
        font-family:'Shrikhand', cursive;
        font-weight: 500;
        font-size: 1.4em;
        padding-left: 20px;
    }

    h2 {
        font-size: 0.9em;
        font-weight: 300;
        margin-left: 15px;
        padding-bottom: 5px; 
        padding-top: 30px;
        border-bottom: 3px solid var(--tertiary-color);
        width: 50px;
       
    } 
    .Title-and-like {
        @include flex-position (row, null, center);
        position: relative;

            .fa-solid {
                @include fa-solid (5%, 4px);
                cursor: pointer;
            }
            .fa-regular {
                @include fa-regular (5%, 4px);
                cursor: pointer;
            }
    }
}
.btn-position {
    @include flex-position (column, null, center);            
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu__btn {
    overflow: hidden;
    width: 92%;
    border: none;
    border-radius: 20px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 8px 4px rgb(235, 231, 231);
    padding: 0;

    .test {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: start ;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover > .test-icon {
            margin-right: 0;
           
        }

        &:hover i {
             animation: icon-fade-in-turn 0.5s 0.2s ease-in-out;
        }

        &:focus i {
            animation: icon-clic-turn 0.5s ease-in-out;
        }
    }
    .test-2 {
        padding: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .test-3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .test-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 80px;
        background-color: var(--tertiary-color);
        border-radius: 0px 20px 20px 0px;
        margin-right: -7em;
        transition: margin-right 0.5s ease-out;
    
        i {
            padding: 5px;
            background: white;
            color: var(--tertiary-color);
            border-radius: 50%; 
        }
    }

}  

.cta__menu__position {
    @include flex-position (null, center, center);
    padding-top: 35px;
    padding-bottom: 55px;

    .cta__menu__size {
        width: 50%;
    }
}

@keyframes fade-in {
    0% {
        margin-top: 15px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

  @keyframes icon-clic-turn {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0deg);
    }
  }

  @keyframes icon-fade-in-turn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
  }