@for $button-number from 1 through 12 {
    .fade-in-#{$button-number}{
        opacity: 0;
        animation: fade-in 0.9s #{nth($btn-delays, $button-number)} forwards;
    }
}
@for $loader-number from 1 through 3 {
    .dot-#{$loader-number} {
        animation: dot-moving 1s ($loader-number - 1) * 0.3s infinite ease-out alternate;
    }
}

@for $loader-letter from 1 through 10 {
    .letter-#{$loader-letter} {
        animation: letter 2s #{nth($loader-letter-delay, $loader-letter)} ease-in-out infinite alternate;
    }
}