@mixin flex-position ($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin box-shadow ($x, $y, $blur, $spread, $color) {
    box-shadow: $x $y $blur $spread $color;
  }
@mixin btn-form {
    border: none;
    border-radius: 25px;
    padding: 30px;
    background-color: var(--bg-color-clear);
}

