footer {
    background-color: var(--bg-color-dark);
    color: white;
    padding: 20px 0px 40px 30px;

    a {
        color: white;
    }

    p {
        font-family:'Shrikhand', cursive;
        font-size: 1.1em;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.footer__list {
    @include flex-position (column, null, null);
    gap: 10px;
    text-decoration: none;

    .footer__list__join-us {  

        i {
            padding-right: 10px;
            font-size: 0.9em;
        }  
        .handshake-icon-size {
            width: 15px;
            font-size: 0.85em;
        }
    }

    .footer__list__info {
        font-weight: 300;

    }
}       

/*****Version Desktop*****/

@media  screen and (min-width: 768px) {
    footer {
        @include flex-position (row-reverse, null, null);
        padding: 40px 30px 40px 30px; 

        p {
            padding: 0;
        }
    }

    .footer__list {
        @include flex-position (row, null, center);
        padding-right: 3%;

        a {
            white-space: nowrap;
            font-size: 0.9em;
        }
        
        .responsive__padding-right {
        padding-right: 20px;
        }

        i {
            padding-right: 5px;
        }
    } 
}